.ticketItem {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
  .ticketItemLeft {
    margin-right: 18px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 400;
    min-width: 60px;
  }
  .ticketItemRight {
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}
