
button{
  background-color: #004A86!important;
  color: #FFF;
font-family: "PingFang SC";
font-size: 14px;
font-weight: 500;
border-radius: 6px;

}
.cardContent{
  .adm-space-item{
    width: 123px!important;
  }
}