.jobBox {
  padding-top: 40px;

  .job {
    height: 535px;
    margin: 0 17px;
    box-sizing: border-box;
    background: #eee;
    border-radius: 18px;
    .jobTop {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 40px;
      padding: 16px 0 0 11px;
      margin-bottom: 140px;
      span {
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-left: 10px;
      }
    }
    .emptyJop {
      width: 100%;
      text-align: center;
      color: rgba(0, 0, 0, 0.6);
      font-size: 14px;
      font-weight: 400;
    }
    .jopNumber {
      display: flex;
      border-radius: 7px;
      height: 40px;
      margin: 76px 28px 57px 28px;
      border: 1px solid #dadada;
      text-align: center;
    }
    .jopButton {
      display: flex;
      justify-content: center;
      button {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        width: 123px;
        border-radius: 6px;
      }
    }
  }
}
input::-webkit-input-placeholder {
  /* placeholder颜色 */
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  /* placeholder字体大小 */
  font-size: 14px;
}
