.ticket {
  padding-top: 20px;
  background-color: #fdfdfd;
  height: 100vh;
  .ticketContent {
    margin: 0 33px;
    box-sizing: border-box;
    border-radius: 18px;
    .ticketTop {
      margin-bottom: 68px;
      > div {
        width: 100%;
        line-height: 25px;
        margin: 15px 0;
        label {
          color: rgba(0, 0, 0, 0.6);
          font-size: 14px;
          font-weight: 400;
        }
        span {
          color: rgba(0, 0, 0, 0.8);
          font-size: 14px;
          font-weight: 400;
          margin-left: 18px;
        }  
      } 
      .ticketRequire{
        display: flex;
        label{
          display: inline-block;
        }
        span{
          display: inline-block;
          width: 75%;
        }
      }
    }
    .ticketNumber {
      display: flex;
      border-radius: 7px;
      height: 40px;
      margin: 76px 11px 50px 11px;
      border: 1px solid #dadada;
      text-align: center;
    }
    .jopButton {
      display: flex;
      justify-content: center;
      button {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        width: 123px;
        border-radius: 6px;
      }
    }
  }
}
input::-webkit-input-placeholder {
  /* placeholder颜色 */
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  /* placeholder字体大小 */
  font-size: 14px;
}
